<html>
  <head>
    <meta charset="utf-8" />
    <title>Keeping up with the...</title>
    <link rel="shortcut icon" href="images/kimK.ico" type="image/x-icon">

    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet">
    <script src="https://use.fontawesome.com/6e70826685.js"></script>
  </head>

  <body>

    {{{body}}}

    <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
    <script src="scripts.js"></script>
  </body>

</html>
