<div class="header">
    <div class="container">
        <h1 id="hero">Keeping up with the ...</h1>
    </div>
</div>

<div class="post-frame">
    <div class="container">
        <div class="row">
            <div class="ten columns offset-by-one">
                <div id="item-container">
                    <div class="list-item">
                        <div class="list-upvotes">
                            <i class="fa fa-caret-up" aria-hidden="true"></i>
                            <p>4</p>
                        </div>
                        <div class="list-main">
                              <h4 class="title">News item </h4>
                              <p class="body">Some news</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="form-frame">
    <div class="container">
      <form id="input-taker" action="#">
          <div class="row">
              <div class="six columns offset-by-three">
                  <label for="title">Title</label>
                  <input class="u-full-width" type="text" placeholder="Juicy title" id="title" required>
               </div>
               <div class="six columns offset-by-three">
                   <label for="body">Body</label>
                   <input class="u-full-width" type="text" placeholder="Juicy content" id="body">
               </div>
               <div class="six columns offset-by-three">
                   <input id="btnsubmit" class="button button-primary" type="submit" value="submit">
               </div>
            </div>
        </form>
        <p id="notification">Success</p>
    </div>
</div>
