<div class="header">
    <div class="container">
        <h1 id="hero">251 news</h1>
    </div>
</div>

<div class="post-frame">
    <div class="container">
        <div class="row">
            <div class="ten columns offset-by-one">
                <div class="item">
                    <div class="upvotes">
                        <i class="fa fa-caret-up" aria-hidden="true"></i>
                    </div>
                    <div class="title">
                        <h3>News item</h3>
                    </div>
                    <div class="body">
                        <p>Trump's latest tweet was crazy</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="form-frame">
    <div class="container">
        <div class="row">
            <div class="six columns">
              <label for="title">Title</label>
              <input class="u-full-width" type="text" placeholder="News item" id="title">
             </div>
             <div class="six columns">
               <label for="body">Body</label>
               <input class="u-full-width" type="text" placeholder="Juicy content" id="title">
             </div>
        </div>
    </div>
</div>
