@import url('skeleton.css');
@import url('normalize.css');

body {
  text-align: center;
}

#hero {
  font-family: 'bungee shade';
  font-size: 5em;
}

/* list items */
.list-item {
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
  transition: all 0.7s ease;
}

.list-item:hover {
  background-color: red;
}

.list-upvotes {
  padding-top: 3%;
  padding-left: 5%;
}

.list-upvotes i{
  font-size: 200%;
}

/*Title*/
.list-main {
  flex-grow: 1;
  text-align: left;
  padding-left: 10%;
}

.title {
  padding-top: 2%;
}

.body {

}

/*Description*/
