@import url('skeleton.css');
@import url('normalize.css');
@import url('list-item.css');
@import url('form.css');

body {
  text-align: center;
}

#hero {
  font-family: 'bungee shade';
  font-size: 5em;
}
